src/biomechzoo.egg-info/*
__pycache__
biomechzoo.egg-info/dependency_links.txt
biomechzoo.egg-info/PKG-INFO
biomechzoo.egg-info/requires.txt
/biomechzoo.egg-info

# Ignore everything in sample_study but keep raw_c3d_files and its contents
data/sample_study/*
!sample_study/raw_c3d_files/
!sample_study/raw_c3d_files/**

# ignore all created zoo files
*.zoo

.idea/*

.DS_Store
.idea/biomechZoo.iml
.idea/biomechZoo.iml
data/imu_xsens_dot/0-create_combined_data/123AB_combined.csv
data/imu_xsens_dot/6 - Figures/Mean(SD) Waveforms.jpeg
data/imu_xsens_dot/6 - Figures/Combined Waveforms.jpeg
data/imu_xsens_dot/0-create_combined_data/123AA_combined.csv
docs/build/doctrees/
