# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.log

# Virtual environments
.env
.venv/
env/
venv/

# Packaging
*.egg-info/
dist/
build/

# =========================
# IDE
# =========================
.idea/
.DS_Store

# =========================
# Data rules
# =========================

# Ignore all .zoo files
*.zoo

# Ignore everything in sample_study
data/sample_study/*
!data/sample_study/
!data/sample_study/raw_c3d_files/
!data/sample_study/raw_c3d_files/**
!data/sample_study/normalized/
!data/sample_study/normalized/**
!data/sample_study/normalized/**/*.zoo

# Other data (optional cleanup)
data/imu_xsens_dot/

# =========================
# Docs
# =========================
docs/build/
.DS_Store
.DS_Store
.DS_Store
